/**============Cliente=====================*/
.form-formulario{
    width: 600px;
    background: #B6E7BF;
    padding: 40px;
    margin: auto;
    margin-top: 25px;
    border-radius: 40px;
    box-shadow: 7px 13px 37px #000;
}

body {
    
    background-image: url("https://wallpaperaccess.com/full/22503.jpg");
}

.title h1{
    width: 100%;
    text-align: center;
    background-color: aqua;
    border-radius: 50px;
}

.form-formulario .send{
    text-align: center;
}

.form-formulario .boton{
    width: 80%;
    color: white;
    align-content: center;
    background-color: grey;
    border-radius: 40px;
    margin: auto 50px;
    padding: 12px;
}

.form-formulario a{
    width: 80%;
    padding: 10px;
    margin: 50px;
    color: black;
    background: #10B393;
    border-radius: 20px;
}
/**============index=====================*/

.form-login{
    width: 600px;
    background: #B6E7BF;
    padding: 20px;
    margin: auto;
    text-align: center;
    border-radius: 40px;
    box-shadow: 7px 13px 37px #000;
}

.form-login a{
    width: 80%;
    padding: 20px;
    margin: 50px;
    color: black;
    background: #10B393;
    border-radius: 20px;
}

.form-login .cliente:hover,.pastelero:hover{
    color: white;
    background: #062B6F;
}
.form-login h3{
    margin-bottom: 20px;
}

.form-login img{
    margin-top: 10px;
}

.form-login .datos p{
    color: #062B6F;
    margin: 0%;
}
/**============Pastelero====================*/
.form-pastelero{
    width: 950px;
    background: #B6E7BF;
    padding: 40px;
    margin: auto;
    margin-top: 25px;
    border-radius: 40px;
    box-shadow: 7px 13px 37px #000;
    text-align:  center;
}

.sabores,.decoraciones,.pedidos{
    display: flex;
    justify-content: space-evenly;    
    background: #07A384;
}

.form-pastelero button{
    margin: 5px;
}

.form-pastelero a{
    width: 80%;
    padding: 10px;
    margin: 50px;
    color: black;
    background: #10B393;
    border-radius: 20px;
}
.form-pastelero a:hover{
    color: white;
    background: #062B6F;
}